body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9f6e5;
    color: #2e8b57;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.head{
    display: flex;
    justify-content: space-between;
    width: 72%;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header .logo {
    max-width: 100px;
    justify-content: flex-start;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #f1fdf0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #388e3c;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Resumo */
.resumo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.resumo-container img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-left: 70px;
}

.texto {
    margin-right: 20px;
    width: 100%;
}


.imagem {
    height: 322px;
    max-width: 230px;
}

.imagem img {
    width: 100%;
    border-radius: 8px;
}

.personagens-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seta{
    display: flex;
    justify-content: center;
}

button{
    padding: 10px;
}

.personagem {
    width: 23%;
    text-align: center;
    margin-bottom: 20px;
    position: relative; 
    display: none;
}

.personagem.ativo{
    display: block;
}

.personagem img {
    max-width: 300px;
    min-width: 300px;
    height: 390px;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.personagem p {
    margin-top: 10px;
    opacity: 0;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.3s ease;
    width: 100%;
}

.personagem:hover p {
    opacity: 1; 
}

.personagem:hover img {
    opacity: 0.7; 
}

.autor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.autor-container .texto {
    flex: 1;
    margin-right: 20px;
}

.autor-container .imagem {
    height: 322px;
    max-width: 230px;
}

.autor-container img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-left: 70px;
}

/* Releituras */
.releitura-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.releitura {
    width: 30%;
    height: 350px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    display: none;
}

.releitura.ativo{
    display: block;
}

.releitura img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.releitura p {
    margin-top: 10px;
    opacity: 0;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.releitura:hover p {
    opacity: 1; 
}

.releitura:hover img {
    opacity: 0.7; 
}

.comentarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comentario {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.comentario img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.comentario p {
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}

button:hover {
    background-color: #388e3c; 
    transform: scale(1.1); 
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(155, 255, 166, 0.5);
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

footer {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

footer p {
    margin: 0;
}